
<% if user_signed_in? %>

  <% if @user.email == "arlenelapan@gmail.com" %>
      <%= link_to edit_listing_path do %>
    <h3 style=" color:black;">Edit listing </h3>
    <% end %>
    <%= link_to listing_path(@listing), data: { confirm: "Are you sure?" }, method: :delete do%>
    <h3 style=" color:black;">Delete listing </h3>
    <% end %>
<% end %>


  <% end %>


<div class="container">
<div class="row" style="background:white;">

  <div class="col-12 col-md-12 col-lg-12 " style="position: relative; margin: 0 auto;">
  <h1 class="my-5" style="text-align: center; color: black; font-size: 3.75rem;font-weight:900;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2); padding-top: 100px; padding-bottom: 25px; padding-right: 56px; margin-left: 56px;" > <strong>  Listings </strong></h1>
    <div id="carouselExampleIndicators" class="carousel slide custom-slider" data-ride="carousel"style="width: 750px; position: relative; margin: 0 auto;">
        <div class="carousel-inner"style="width: 750px;" style="position: relative; margin:0 auto;">
          <div class="carousel-item active" style="position: relative; margin:0 auto;">
            <div class="carousel-img-container d-flex justify-content-center" style="border:solid 4px;">
    <%= cl_image_tag @listing.photo.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100 lala" %>
            </div>

          </div>
              <% @pictures.each do |picture| %>
          <div class="carousel-item" style="position: relative; margin:0 auto;">
            <div class="carousel-img-container d-flex justify-content-center" style="border:solid 4px;">
     <%= cl_image_tag picture.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100" %>
            </div>

    <div class="carousel-caption d-none d-md-block">

    </div>


          </div>
            <% end %>

        </div>

        <br><br>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
  </div>


</div>

</div>
