


<div class="container-2">


  <div class="container ">
  <div class="row" style="">


    <div class="col-12">
    <h1 class="" style="font-weight: 700; font-size: 3.25rem; margin-top: 120px;">Details of Bow Tie Realty Construction Development:</h1>

    </div>
    <div class="col-8" style="">
      <div class="d-flex" style="align-items: left;">

 <!--     <i class="fas fa-street-view" style="padding-top: 40px;padding-right: 36px;font-size: 1.5rem;"></i> --> <h1 style="padding-top: 32px; font-size:2.75rem; font-weight: 700; ">Registration Number: 2017/481869/07</h1 style="padding-top: 16px; font-weight: 700;">

      </div>
  </div>

  <div class="col-12 col-lg-8" style="margin-top: 64px;">
        <div class="d-flex" style=" align-items: left;">
<!--       <i class="fas fa-mobile-alt" style="padding-top: 40px; padding-right: 40px;font-size: 1.5rem;"> --><h2 style="padding-top: 32px; margin-bottom: 60px;padding-left: -250px; font-weight: 700; font-size: 2.5rem;">Situated in Johannesburg South, Bow Tie Realty is a 100% Female, Black owned company. We service the whole of Johannesburg South in both Resedential as well as Commercial Property. Bow Tie Realty Construction Development delivers timeously.Buyers and Sellers are welcome to join the list of satisfied buyers and sellers. We strive to operate in an open, honest and helpful manner. </h2>


    </div>

  </div>
  </div>

</div>

</div>


