<div class="container-2">
  <div class="row">
    <div class="container">
      <div class="col-8 fill" style="position: relative;margin:0 auto; padding-top: 64px;">
      <%= image_tag "btr.jpg" %>


      </div>


    </div>
  </div>
</div>
