// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container-2{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
      background-color:#C4C2B7;
      height:100vh

}
.container-2-1{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
      background-color:#2D2D6A;

}
.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-repeat: no-repeat;
  position: relative;
  height:500px;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 1;
    min-width: 100%;
    // opacity: .7
}

.circle-pics{
  border:solid-2px;
  border-color:white;
}


.container-3 {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  height:80px;
   background:#6EA416;

}


.container-4 {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  height:80px;
   background:#F4F4F4;

}

* p, h1, h2,h3 {
  font-family: "Oswald";
 }


.diagonal-box {
  background-image: linear-gradient(45deg, #6DA416, #6B9F15);
    transform: skewY(22deg);
    height:64px;

}

.diagonal-box-2 {
  background-image: linear-gradient(45deg, #6B9F15, #6DA416);
    transform: skewY(-22deg);
    height:64px;

}


.diagonal-box-3 {
  background-image: linear-gradient(45deg, #F4F4F4, #F4F4F4);
    transform: skewY(22deg);
    height:64px;
    border-color:#F4F4F4;

}

.diagonal-box-4 {
  background-image: linear-gradient(45deg, #F4F4F4, #F4F4F4);
    transform: skewY(-22deg);
    height:64px;
    border-color:#F4F4F4;

}


.content {
  max-width: 50em;
    margin: 0 auto;

}

.container-5 {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  height:80px;
   background:transparent;

}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 450px solid transparent;
  border-right: 450px solid transparent;

  border-top: 360px solid #2B2B6D;


}


.footer {
  background: #2D2D6A;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-around;
  padding: 0px 50px;
  color: #6CA215;
  // position:absolute;
  // bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.footer-links a {
  color: #C4C2B7;
  opacity: 0.8;
  text-decoration: none;
  font-size: 60px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.main-container{
  height: calc(100vh - 80px);
  background: black;
  position: relative;

}


.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}


.hexagon-2 {
  position: relative;
  width: 250px;
  height: 173.21px;
  background-color: white;
  margin: 86.60px 0;
}

.hexagon-2:before,
.hexagon-2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.hexagon-2:before {
  bottom: 100%;
  border-bottom: 86.60px solid white;
}

.hexagon-2:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid white;
}



.hex {
    margin-top: 70px;
    width: 208px;
    height: 120px;
    background: #6C6;
    position: relative;
}
.hex:before, .hex:after {
    content:"";
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
}
.hex:before {
    top: -59px;
    border-bottom: 60px solid #6C6;
}
.hex:after {
    bottom: -59px;
    border-top: 60px solid #6C6;
}
.hex.inner {
    background-color:white;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index:1;
}
.hex.inner:before {
    border-bottom: 60px solid white;
}
.hex.inner:after {
    border-top: 60px solid white;
}


.body{
  background-color:#848484;
}
