// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container-2{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
      background-color:#C4C2B7;

}

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-repeat: no-repeat;
  position: relative;
  height:500px;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 1;
    min-width: 100%;
    // opacity: .7
}

.circle-pics{
  border:solid-2px;
  border-color:white;
}


.container-3 {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  height:80px;
   background:#6EA416;

}


.container-4 {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  height:80px;
   background:#F4F4F4;

}

* p, h1, h2,h3 {
  font-family: "Oswald";
 }


.diagonal-box {
  background-image: linear-gradient(45deg, #6DA416, #6B9F15);
    transform: skewY(22deg);
    height:64px;

}

.diagonal-box-2 {
  background-image: linear-gradient(45deg, #6B9F15, #6DA416);
    transform: skewY(-22deg);
    height:64px;

}


.diagonal-box-3 {
  background-image: linear-gradient(45deg, #F4F4F4, #F4F4F4);
    transform: skewY(22deg);
    height:64px;
    border-color:#F4F4F4;

}

.diagonal-box-4 {
  background-image: linear-gradient(45deg, #F4F4F4, #F4F4F4);
    transform: skewY(-22deg);
    height:64px;
    border-color:#F4F4F4;

}


.content {
  max-width: 50em;
    margin: 0 auto;

}

.container-5 {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  height:80px;
   background:transparent;

}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 450px solid transparent;
  border-right: 450px solid transparent;

  border-top: 360px solid #2B2B6D;


}


